{% extends "../base.html" %}
{% load static %}

{% block body %}
<div class="flex items-center justify-center min-h-screen bg-gray-100">
    <div class="w-full max-w-md">
        <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <div class="mb-4">
                <h1 class="text-2xl font-bold text-gray-800">Login</h1>
            </div>
            <form method="post" class="space-y-4">
                {% csrf_token %}
                <div>
                    <label for="username" class="block text-gray-700 font-bold mb-2">
                        Username
                    </label>
                    <input type="text" id="username" name="username" placeholder="Enter your username" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
                </div>
                <div>
                    <label for="password" class="block text-gray-700 font-bold mb-2">
                        Password
                    </label>
                    <div class="relative">
                        <input type="password" id="password" name="password" placeholder="Enter your password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
                        <button type="button" onclick="togglePassword()" class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5">
                            <i id="togglePasswordIcon" class="fas fa-eye text-gray-700"></i>
                        </button>
                    </div>
                </div>
                {% if form.non_field_errors %}
                    <p class="text-red-500 text-xs italic">{{ form.non_field_errors.0 }}</p>
                {% endif %}
                <div>
                    <input type="submit" value="Login" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                </div>
            </form>
            <div class="text-center mt-4">
                <p class="text-gray-600">Don't have an account? <a href="{% url 'register' %}" class="text-blue-500 hover:text-blue-700">Register now</a></p>
            </div>
        </div>
    </div>
</div>

<script>
    function togglePassword() {
        const passwordField = document.getElementById('password');
        const togglePasswordIcon = document.getElementById('togglePasswordIcon');
        const type = passwordField.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordField.setAttribute('type', type);
        togglePasswordIcon.classList.toggle('fa-eye');
        togglePasswordIcon.classList.toggle('fa-eye-slash');
    }
</script>
{% endblock body %}
