<!DOCTYPE html>
<html>
<head>
    <title>Artist Profile</title>
</head>
<body>
    <h1>{{ artist.user.username }}'s Profile</h1>
    <p>Bio: {{ artist.bio }}</p>
    <img src="{{ artist.profile_pic.url }}" alt="Profile Picture">
    <h2>Artwork</h2>
    {% for artwork in artwork %}
        <h3>{{ artwork.title }}</h3>
        <p>Description: {{ artwork.description }}</p>
        <p>Price: ${{ artwork.price }}</p>
        <img src="{{ artwork.image.url }}" alt="Artwork Image">
    {% endfor %}
</body>
</html>
