{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <title>
        {% block title %}
            {% if title %}
                {{ tite }}
            {% else %}
                ArtOurs
            {% endif %}
        {% endblock title %}
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'core/css/base.css' %}" rel="stylesheet">
    {% block link %}
    {% endblock link %}
</head>


<body>
    <section id='navbar'>
        <nav>
            <div class="flex justify-around" id="navbar">
                <div class="flex">
                    <a href="{% url 'home' %}"><i class="fas fa-home"></i> Home</a>
                    <a href="{% url 'home' %}"><i class="fas fa-info-circle"></i> About</a>
                    <a href="{% url 'home' %}"><i class="fas fa-envelope"></i> Contact Us</a>
                </div>
                <div class="flex">
                    {% if user.is_authenticated %}
                        <a href="{% url 'signout' %}" class="logout-link"><i class="fas fa-sign-out-alt"></i> Sign Out</a>
                    {% else %}
                    <a href="{% url 'signin' %}" class="login-link"><i class="fas fa-sign-in-alt"></i> Sign In</a>
                    <a href="{% url 'signup' %}" class="login-link"><i class="fas fa-user-plus"></i> Sign Up</a>
                    {% endif %}                    
                </div>
            </div>
        </nav>
    </section>
    <section id='main'>
        {% block body %}
        
        {% endblock %}
    </section>
    <script src="https://kit.fontawesome.com/afe7011de4.js" crossorigin="anonymous"></script>
</body>

</html>
