{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <title>
        {% block title %}
            {% if title %}
                {{ tite }}
            {% else %}
                ArtOurs
            {% endif %}
        {% endblock title %}
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'core/css/base.css' %}" rel="stylesheet">
    {% block link %}
    {% endblock link %}
</head>


<body>
    <section id='navbar'>
        <nav>
            <div class="flex">
                <div class="flex" id="navbar">
                    <a href="{% url 'home' %}">Home</a>
                    <a href="{% url 'home' %}">About</a>
                    <a href="{% url 'home' %}">Contact Us</a>
                </div>
            </div>
        </nav>
    </section>
    <section id='main'>
        {% block body %}
        
        {% endblock %}
    </section>
</body>

</html>
